<!-- Footer -->
<footer>
  <div class="container">
    <div class="row text-center text-xs-left text-sm-left text-md-left text-white">
			<div class="col-xs-12 col-sm-5 col-md-5">
			  <div id="footer_title">
          <h5>Guru de Inversiones</h5>
          <p>Investment blog, short description here</p>
        </div>
        <div id="add_info">
          <p><i id="loc_pin" class="fas fa-map-pin"></i> 37 Pine St New York, NY 10005 US</p>
          <p><i class="fas fa-phone"></i> Phone (US) : +1 718 928 1301</p>
          <p><i class="fas fa-envelope"></i> E-mail : info@guruinversiones.com</p>
        </div>
			</div>
			<div class="col-xs-12 col-sm-3 col-md-3">
				<h5>Quick links</h5>
				<ul class="list-unstyled quick-links">
					<li><a href="/"></i>Home</a></li>
					<li><a href="/about"></i>About</a></li>
					<li><a href="/faq"></i>FAQ</a></li>
					<li><a href="/privacy"></i>Privacy Policy</a></li>
					<li><a href="/terms"></i>Terms & Conditions</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4">
			  <h5>Follow Us</h5>
        <p class="social_links">
          <a href="#" class="fab fa-facebook"></a>
          <a href="#" class="fab fa-twitter"></a>
          <a href="#" class="fab fa-instagram"></a>
          <a href="/rss" class="fas fa-rss-square"></a>
        </p>
			</div>
		</div>

  </div>

  <div class="copyright_row row">
      <div class="col-md-12">
        <p class="m-0 text-center text-white">Copyright &copy; Guru de Inversiones 2018</p>
      </div>
  </div>

</footer>

</body>
</html>
