<!DOCTYPE html>
<html>
<head>
  <title>Guru de Inversiones</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Guru de inversiones description here">
	<meta name="keywords" content="inversiones, blog, otras, palabras, claves, aqui, separadas, por, comas">
	<meta name="author" content="https://www.linkedin.com/in/jmsandovalchavez/">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  <link rel="stylesheet" href="./stylesheets/priority-nav-scroller.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="shortcut icon" href="/img/icon.png">

</head>
<body>


