<nav class="navbar navbar-expand-sm navbar-dark" id="nav_bar">
  <a class="navbar-brand" href="/">Guru de Inversiones</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class=""> <i class="text-white fas fa-angle-double-down"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <div class="navbar-nav">
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
          <i class="fas fa-globe"></i>
        </a>
        <!--https://www.iconfinder.com/iconsets/stripe-flag-set-->
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item lan_item" href="#"><img src="/img/ES_MX.png"> ES</a>
          <a class="dropdown-item lan_item" href="#"><img src="/img/EN_US.png"> EN</a>
        </div>
    </div>
    </div>

    <form class="form-inline my-2 my-lg-0" action="/search/all" method="GET">
      <input class="form-control" autocomplete="off" id="search-input" placeholder="Search" type="text" name="q"/>
      <button type="submit" class="btn btn-secondary" id="main_search_btn" style="width: 40px;"><i class="fas fa-search"></i></button>
    </form>
  </div>
</nav>
