<!-- include header -->
<% include ../../partials/header %>

<% include ../../partials/main_navbar %>

 <!--  -->

<div class="container">

<div class="row">
	<div class="col-md-12 col-sm-12" id="post_cover" style="background-image: url('<%= post.img %>');"></div>
</div>

<div class="row" id="content_row">
	<div class="col-md-12 col-sm-12 col-12"  id="content_col">
		<div class="row">
		  <div class="col-md-9 col-sm-9 col-8">
		    <h3> <%= data["post"].title %></h3>
		  </div>
		  <div class="col-md-3 col-sm-3 col-4" id="content_date">
          <span class="date"><%= data["post"].updated.toLocaleString("en-us", { month: "long" }) +  " " + data["post"].updated.getDate() %></span>
		  </div>
		</div>


		<h5 class="text-muted">
      <% data["post"].categories.forEach(function(category) {%>
        <a href="/search/category?q=<%= category %>">
        <span class="category"><%= category %></span>
        </a>
      <% }); %>
      <span class="author"> by <%= data["post"].author %></span>
		</h5>
    <p class="tags">
      <% data["post"].tags.forEach(function(tag) {%>
        <a href="/search/tag?q=<%= tag %>">
        <span><%= tag %></span>
        </a>
      <% }); %>
    </p>
    <p class="social_links">
      <a href="<%= data["post"].social_links.facebook %>" class="fab fa-facebook"></a>
		  <a href="<%= data["post"].social_links.twitter %>" class="fab fa-twitter"></a>
		  <a href="<%= data["post"].social_links.instagram %>" class="fab fa-instagram"></a>
		  <a style="cursor:pointer;" onclick="prompt('Copy URL', window.location.hostname +'<%= data["post"].route %>')" class="fas fa-link"></a>
    </p>
    <div id="content_article">
      <% include ./content %>
    </div>
	</div>
</div>

</div>

<% include ../../partials/footer_includes %>

<script src="/scripts/search_bar.js"></script>
<script src="/scripts/post_script.js"></script>

<!-- include footer -->
<% include ../../partials/footer %>


