<!-- include header -->
<% include partials/header %>

<% include partials/main_navbar %>

<div class="container">

  <div class="container nav-scroller nav-scroller--expand nav-scroller--demo-expand">

    <nav class="nav-scroller-nav">
      <div class="nav-scroller-content">
        <a href="#" class="nav-scroller-item">Category 1</a>
        <a href="#" class="nav-scroller-item">Category 2</a>
        <a href="#" class="nav-scroller-item">Category 3</a>
        <a href="#" class="nav-scroller-item">Category 4</a>
        <a href="#" class="nav-scroller-item">Category 5</a>
        <a href="#" class="nav-scroller-item">Category 6</a>
        <a href="#" class="nav-scroller-item">Category 7</a>
        <a href="#" class="nav-scroller-item">Category 8</a>
      </div>
    </nav>

    <button class="nav-scroller-btn nav-scroller-btn--left" aria-label="Scroll left">
      <span><i class="fas fa-chevron-left"></i></span>
    </button>

    <button class="nav-scroller-btn nav-scroller-btn--right" aria-label="Scroll right">
      <span><i class="fas fa-chevron-right"></i></span>
    </button>

  </div>


  <!-- Jumbotron row -->
  <!--<div class="row">-->
  <!--  <div class="col-md-12 col-sm-12">-->
  <!--    <div class="jumbotron">-->
  <!--      <h1><i class="fas fa-money-check-alt" ></i> Investment blog </h1>-->
  <!--      <p>A blog about how to invests</p>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->

  <!-- Carousel row -->
  <div class="row">
    <div class="row" id="car_row">
      <div class="col-md-8 col-sm-6 car_col" id="car_col_left">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <a id="active_carousel_item" href="/">
          <div class="carousel-inner" role="listbox">
            <% data["posts"]["featured_posts"].forEach(function(post, i) { %>
              <div class="carousel-item <%= (i == 0) ? "active" : "" %>" style="background-image: url('<%= post.img %>')"
              data-link="<%= post.route %>"
              data-title="<%= post.title %>"
              data-summary="<%= post.summary %>"
              ></div>
            <% }); %>
          </div>
          </a>
          <a class="carousel-control-prev" id="slide_prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" id="slide_next" href="#carouselExampleIndicators" role="button" data-slide="next" >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 car_col" id="car_col_right">
        <div class="card featured_card">
          <div class="card-body featured_card_body">
            <div id="ind_bar">
              <ol class="carousel-indicators">
              <% for(var i = 0; i < data["posts"]["featured_posts"].length; i++){ %>
                <li data-target="#carouselExampleIndicators" data-slide-to="<%= i %>" class=<%= (i == 0) ? "active" : "" %> ></li>
              <% } %>
              </ol>
            </div>
            <a href="#">
            <h3 class="card-title" id="featured_card_title"></h3>
            </a>
            <p class="card-text" id="featured_card_text">
            </p>

            <h6><a href="#">Read...</a></h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Header row -->
  <div class="row">
    <div class="col-12 col-md-12">
      <h2 class="title_sep">Sponsored Posts Here</h2>
    </div>
  </div>

  <!-- Sponsored posts row -->
  <div class="row">

    <!--  -->
    <% data["posts"]["sponsored_posts"].forEach(function(post) {%>
      <div class="col-sm-12 col-md-4">
        <div class="card">
          <a href="<%= post.route %>" class="spon_a">
          <img class="card-img-top" src="<%= post.img %>" alt="<%= post.title %>">
          </a>
          <div class="card-body">
            <a href="<%= post.route %>">
            <h4 class="card-title"><%= post.title %></h4>
            </a>
            <h6 class="card-subtitle mb-2 text-muted">
              <% post.categories.forEach(function(category) {%>
                <a href="/search/category?q=<%= category %>">
                <span class="category"><%= category %></span>
                </a>
              <% }); %>
              <span class="author"> by <%= post.author %></span>
            </h6>
            <a href="<%= post.route %>">
            <p class="card-text">
               <%= post.summary %>
            </p>
            </a>
            <p class="tags">
              <% post.tags.forEach(function(tag) {%>
                <a href="/search/tag?q=<%= tag %>">
                <span><%= tag %></span>
                </a>
              <% }); %>
            </p>
          </div>
        </div>
      </div>

    <% }); %>

  </div>


  <!-- Latest posts row -->
  <div class="row">
    <!-- Posts Section -->
    <div class="col-sm-12 col-md-8 col-lg-9">

      <h2 class="title_sep">Latest</h2>

      <% data["posts"]["latest_posts"].forEach(function(post) {%>
        <div class="card">
          <div class="row card_row">

            <div class="col-md-8 col-sm-8 col-8">
              <div class="card-block">
                <a href="<%= post.route %>">
                <h4 class="card-title"><%= post.title %></h4>
                <p class="card-text quote"><%= post.summary %></p>
                <p class="tags">
                <% post.tags.forEach(function(tag) {%>
                  <a href="/search/tag?q=<%= tag %>">
                  <span><%= tag %></span>
                  </a>
                <% }); %>
                </p>
                </a>
                <h6 class="card-subtitle mb-2 text-muted">
                  <% post.categories.forEach(function(category) {%>
                    <a href="/search/category?q=<%= category %>">
                    <span class="category"><%= category %></span>
                    </a>
                  <% }); %>
                  <span class="author"> by <%= post.author %></span>
                </h6>
                <h6 class="text-muted">
                  <span class="date"><%= post.updated.toLocaleString("en-us", { month: "long" }) +  " " + post.updated.getDate() %></span>
                  <span class="read_time"> &middot; <%= post.read_time %></span></h6>
              </div>
            </div>

            <div class="lat_img_col col-md-4 col-sm-4 col-4">
              <a href="<%= post.route %>">
                <img class="card-img-bottom" src="<%= post.img %>"></img>
              </a>
            </div>

          </div>
        </div>

        <hr>
      <% });%>

    </div>

    <!-- Popular posts Sidebar Section -->
    <div class="col-sm-12 col-md-4 col-lg-3">
      <h2>Popular</h2>
      <ol id="popular_ol">
        <% data["posts"]["popular_posts"].forEach(function(post) {%>
          <li>
            <a href="<%= post.route %>"><div class="pop_list_title"><h4><%= post.title %></h4></div></a>

            <div class="pop_list_category">
              <h6 class="card-subtitle text-muted">
              <% post.categories.forEach(function(category) {%>
                <a href="/search/category?q=<%= category %>">
                <span class="category"><%= category %></span>
                </a>
              <% }); %>

              <span class="author"> by <%= post.author %> </span>
              </h6>
            </div>
            <div class="pop_list_date">
              <span class="date"><%= post.updated.toLocaleString("en-us", { month: "long" }) + " " + post.updated.getDate() %></span>
            </div>
          </li>
        <% }); %>
      </ol>

    </div>

  </div>


</div>

<% include partials/footer_includes %>

<script src="/scripts/priority-nav-scroller/bundle.js"></script>
<script src="/scripts/search_bar.js"></script>
<script src="/scripts/index_script.js"></script>

<!-- include footer -->
<% include partials/footer %>
