<!-- include header -->
<% include partials/header %>

<% include partials/main_navbar %>

<div class="container">

  <!-- Header row -->
  <div class="row">
    <div class="col-12">
      <h2 class="title_sep"><%= data.title %></h2>
    </div>
  </div>

 </div>

</div>

<% include partials/footer_includes %>

<script src="/scripts/search_bar.js"></script>
<script src="/scripts/search_bar_script.js"></script>

<!-- include footer -->
<% include partials/footer %>
