<!-- include header -->
<% include partials/header %>

<% include partials/main_navbar %>

<div class="container">

  <!-- Header row -->
  <div class="row">
    <div class="col-12">
      <h2 class="title_sep">Found Results</h2>
    </div>
  </div>


  <!-- Search Input row -->
  <form action="/search/all" method="GET">
    <div class="form-group row">

      <div class="col-md-7 col-sm-6 col-xs-6 col-5" id="search_res_input_col">
          <input type="input" autocomplete="off" class="form-control mr-sm-2" name="q" id="search-res-input" placeholder="Search...">
      </div>

      <div class="col-md-2 col-sm-2 col-xs-2 col-2" style="text-align:left;">
      <button type="submit" class="btn btn-secondary col-form-label" id="search_res_btn">
        <i class="fas fa-search"></i>
      </button>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-4 col-5">
        <select class="custom-select" id="order_by" >
          <option selected>Order by</option>
          <option value="latest">Latests</option>
          <option value="oldest">Oldest</option>
        </select>
      </div>

    </div>
  </form>

<hr>

 <div class="row">
    <div class="col-sm-12" id="res_section">
      <% data["found_posts"].forEach(function(post, index) {%>
        <div class="card" data-ind="<%= index %>">
          <div class="row card_row">

            <div class="col-md-8 col-sm-8 col-8">
              <div class="card-block">
                <a href="<%= post.route %>">
                <h4 class="card-title"><%= post.title %></h4>
                <p class="card-text quote"><%= post.summary %></p>
                <p class="tags">
                <% post.tags.forEach(function(tag) {%>
                  <a href="/search/tag?q=<%= tag %>">
                  <span><%= tag %></span>
                  </a>
                <% }); %>
                </p>
                </a>
                <h6 class="card-subtitle mb-2 text-muted">
                  <% post.categories.forEach(function(category) {%>
                    <a href="/search/category?q=<%= category %>">
                    <span class="category"><%= category %></span>
                    </a>
                  <% }); %>
                  <span class="author"> by <%= post.author %></span>
                </h6>
                <h6 class="text-muted">
                  <span data-updated="<%= post.updated.toDateString() %>" class="date"><%= post.updated.toLocaleString("en-us", { month: "long" }) +  " " + post.updated.getDate() %></span>
                  <span class="read_time"> &middot; <%= post.read_time %></span></h6>
              </div>
            </div>

            <div class="lat_img_col col-md-4 col-sm-4 col-4">
              <a href="<%= post.route %>">
                <img class="card-img-bottom" src="<%= post.img %>"></img>
              </a>
            </div>

          </div>
        </div>

        <hr>
      <% });%>
    </div>

 </div>

</div>

<% include partials/footer_includes %>

<script src="/scripts/search_bar.js"></script>
<script src="/scripts/search_results_script.js"></script>

<!-- include footer -->
<% include partials/footer %>
