
body {
  width: 100%

}

footer, #nav_bar {
    background-color: black;
}

#nav_bar {
    padding: 5px 8px;
}

.search_col {
    padding: 1px;
}

.row.search_row {
    padding-top:0px;
}

.lat_img_col{
    margin: auto;
    padding-left: 0
}

#search_res_btn {
    min-width: 45px;
}

#search_res_input_col {
    padding-right: 0;
}

#search_res_input_col span.twitter-typeahead {
    width: 100%;
}

.card-img-top {
  height: 80%;
  width: 80%;
}

.spon_a {
    text-align:center;
}

#car_row {
    width: 100%;
    margin: 0;
    padding: 0px 15px;
}


.card {
    border: none;
}

/*.title_sep {*/
/*    background-color: black;*/
/*    color: white;*/
/*    padding-left: 10px;*/
/*    padding-bottom: 2px;*/
/*}*/

span.algolia-autocomplete {
    width: 100%;
}

.form-control:focus {
    border-color: #CCCCCC;
    box-shadow: 0 0 0 0.2rem rgba(128, 128, 128, .25);
}

span.author {
    color: #afafaf;
    font-size: 0.90rem;
}

span.category {
    color: black;
}

.tags span {
    background-color: #ececec;
    padding-top: 0px;
    padding-right: 4px;
    padding-bottom: 3px;
    padding-left: 4px;
    margin-right: 3px;
    /*border: 1px solid #e6e6e8;*/
    color: #afafaf;
    font-size: 0.85rem;
}

/* deprecated thumbnail class

.caption h6 {
    margin-top: 5px;
}

.caption p > span {
    background-color: #ececec;
    padding-top: 0px;
    padding-right: 4px;
    padding-bottom: 3px;
    padding-left: 4px;
    //border: 1px solid #e6e6e8;
    color: #afafaf;
    font-size: 0.85rem;
}

.caption a:hover {
    color: inherit;
    text-decoration: none;
}

.thumbnail {
    margin: auto;
}

.thumbnail a {
    color: inherit;
    text-decoration: none;
}

.thumbnail img {
    max-height: 300px;;
    width: 100%;
}

*/

p.tags span:hover {
    color: white;
    background-color: black;

}

span.category:hover {
    opacity: 0.7;
}


.card a:hover, #popular_ol a:hover, #content_col a:hover, .tt-suggestion a:hover{
    color: inherit;
    text-decoration: none;
}

.card a, #popular_ol a ,.tt-suggestion a{
    color: inherit;
    text-decoration: none;
}

.card-body {
    padding: 0.5rem;
}

.card-body p {
    margin-bottom: 0.3rem;
}

.featured_card {
    border: 20px solid #e6e6e6;
    padding: 5px;
    height: 100%;
    width: 100%;
    max-height: 350px;
}

.jumbotron {
  color: white;
  /* background: #ecf0f1; */
  background: url(http://via.placeholder.com/1080x720/000000.png);
  background-size: auto;
  background-position: center;
  margin-bottom: 0;
}

.carousel-item {
  height: 100vh;
  min-height: 100%;
  max-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



#ind_bar {
    min-height: 20px;
    position:relative;
}

#ind_bar ol{
    padding-top:10px;
    margin: 0;
    position: unset;
}

.carousel-indicators .active {
    background-color: black;
}

.carousel-indicators li {
     background-color: lightgrey;
     cursor: pointer;
}

.car_col {
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    padding-top: 10px;
}

.row.card_row{
    padding-top: 0px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.post {
  margin-bottom: 20px;
  /*border: 20px solid #bdc3c7;*/
}

.date {
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.quote{
  border-left: 5px solid #bdc3c7;
  padding-left: 10px;
}

.card-text.quote {
      margin-bottom: 10px;
}

#popular_ol {
    font-size: x-large;
}

.pop_list_title{
    text-transform: capitalize;
    font-size: 1.5rem;
}

.pop_list_category {
    font-size: 0.95rem;
}

.pop_list_date {
    font-size: 0.80rem;
}

#navbarNavDropdown {
    margin: auto;
}

#post_cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    min-height: 500px;
    max-width: 900px;
    margin: auto;
    /* width: 100%; */
}

#content_row {
    margin-top: -7.5%;
    padding: 0 7.5%;
    background: white;
}

#content_col {
    background: white;
}

div.content_img {
    text-align: center;
}

#content_date {
    margin: auto;
    text-align: right;
}

#content_col div > img {
    max-width: 80%;
    max-height: 50%;
}
#content_col p{
    margin: 10px 0px;
}

/*@media screen and (min-width: 1400px) {*/
/*    .container {*/
/*        max-width: 1350px;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 768px) {*/
/*    .container {*/
/*        max-width: 100%;*/
/*    }*/
/*}*/

.card-img-bottom {
    min-height: 100px;
    min-width: 100px;
}

@media screen and (max-width: 450px) {

    #post_cover {
        min-height: 300px;
    }
}

@media screen and (min-width: 1000px) {
    #content_row {
        padding: 0 15%;
    }

}

@media screen and (min-width: 940px) {

    .navbar-brand {
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
    }

}


/* Style all font awesome icons */
.social_links .fab, .social_links .fas {
    font-size: 30px;
    width: 35px;
    text-align: center;
    text-decoration: none;
}

.social_links a {
    color: inherit;
    text-decoration: none;
}

/* Add a hover effect if you want */
.social_links .fab:hover,  .social_links .fas:hover{
    opacity: 0.7;
    color: inherit;
    text-decoration: none;
}


.dropdown-menu.show {
    min-width: fit-content;
    max-width: fit-content;
}

.lan_item {
    padding: .05rem 0.5rem;
}

.copyright_row {
    padding-top: 0;
    padding-bottom: 10px;
}

#footer_title, #add_info {
    margin-bottom: 10px;
}

#footer_title *, #add_info * {
    margin-bottom: 0;
}

#reg_form .row > * {
    margin: auto;
}

#reg_form .row {
    margin-bottom: 10px;
    padding-top: 0;
}


.nav-scroller-btn {
    height: 100%;
    width: 28px;
    border: 0px;
    color: black;
}

.nav-scroller, .nav-scroller-wrapper{
    background-color: white;
}

.nav-scroller-nav::-webkit-scrollbar {
    display: none;
}

.nav-scroller-content a {
    color: inherit;
    text-decoration: none;
}

.nav-scroller-item {
    font-size:inherit;
}

#main_search_btn {
    margin-left: 3px
}

/* Stylize typeahead.js a la http://twitter.github.io/typeahead.js/css/examples.css */
.tt-menu
{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1px;
    max-height: 150px;
    overflow-y: auto;
    width: -webkit-fill-available;
}

.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
    width: inherit;
}
.tt-suggestion {
    margin: 0;
    padding: 6px 12px;
}
